.menuItem:hover{
	background-color:yellow;
}


span.hiOne{
	background-color:blue;
}

span.hiTwo{
	background-color: green;
}

span.hiThree{
	background-color: red;
}

span[class^="hi"]{
	background-color: brown; 
}

span[class$="One"]{
	background-color: cyan; 
}

article{
	box-shadow: 10px 10px 10px blue;
}

aside{
	-webkit-transform: rotate(180deg); 
}

span[class^="hi"],span[class$="One"]{
	background-color: white;
}

p:empty{	/*Para los p tag vacios*/
	display:none;
}

article{
	width:30%;
}

#firstArticle{
	float:left;
}

#leftLine{
	border-left:3px solid blue;
}

#rightLine{ 
	border-right:3px solid blue;
}